/** General */
.secondary-font {
    font-family: 'Bungee Shade', cursive;
}

/** Styles */

html,
body {
    font-family: 'Quicksand', sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #e2e2e2;
}

header {
    text-align: center;
    font-size: 2em;
    line-height: 80px;
    background-color: #4141ac;
    color: #fff;
    height: 80px;
    white-space: nowrap;
}

body.menu--visible header {
    color: rgba(0, 0, 0, 0);
}

.header__text {
    width: 4em;
    display: inline-block;
}

.container {
    max-width: 960px;
    background-color: #f1f0ac;
    margin: 0 auto;
    position: relative;
    top: 0;
    bottom: 0;
    overflow: auto;
    height: calc(100% - 80px);
}

/** Flipper Icon*/
/** https://davidwalsh.name/css-flip */
#headerIconContainer {
    height: 64px;
    width: 64px;
    cursor: pointer;
    vertical-align: top;
    display: inline-block;
    perspective: 1000px;
    z-index: 1;
    padding-top: 8px;
    position: relative;
}

body.menu--visible #headerIconContainer .flipper {
    transform: rotateY(180deg);
    transform-origin: 50% 50%;
}

#headerIconContainer img {
    height: 64px;
    border-radius: 50%;
}
#headerIconContainer img:hover {
    box-shadow: 5px 5px 20px black;
}
.flipper {
    transition: 0.5s;
    transform-style: preserve-3d;
    position: relative;
}
.front,
.back {
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
}
.front {
    z-index: 2;
}
.back {
    transform: rotateY(180deg);
}
/** Flipper Icon -- END*/

#messagesWrapper {
    padding: 2em;
    box-sizing: border-box;
}
.msg {
    background-color: #fff;
    border-radius: 1em;
    padding: 0.25em 1em;
    max-width: 450px;
    margin: 0 auto;
    margin-bottom: 2em;
}
.msg__text {
    margin-bottom: 0;
    font-weight: bold;
}
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    max-width: 960px;
    font-size: 0;
    background-color: #fff;
    height: 50px;
    padding: 0 10px;
    box-sizing: border-box;
}

footer textarea {
    resize: none;
    display: inline-block;
    width: 70%;
    height: 100%;
    vertical-align: top;
    box-sizing: border-box;
    padding: 0.5em;
    font-size: 16px;
    border: 0;
    outline: 0;
}
footer button {
    font-size: 20px;
    width: 30%;
    height: 40px;
    position: absolute;
    bottom: 5px;
    display: inline-block;
    background: none;
    cursor: pointer;
    border: 2px solid #4141ac;
    outline: none;
}

footer button:hover {
    color: #fff;
    background-color: #4141ac;
}

/** MENU--begin */
#menu {
    position: absolute;
    display: none;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    min-height: 700px;
    background-color: #4141ac;
    color: #fff;
    text-align: center;
    padding-top: 2em;
}

body.menu--visible #menu {
    display: block;
}

body.menu--visible footer {
    position: absolute;
}
#geekPoints {
    font-size: 2em;
    line-height: 1em;
    display: block;
}
.menu__ranks {
    margin-top: 2em;
    list-style: none;
    box-sizing: border-box;
    text-align: left;
}
.rank {
    margin: 1.5em 0;
    opacity: 0.4;
}
.rank.rank--is-current {
    opacity: 1;
    font-size: 1.25em;
}
.rank .rank__icon {
    width: 4em;
    border-radius: 50%;
    vertical-align: bottom;
    margin-right: 1em;
}

.rank .rank__name {
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
}
.rank .rank__threshold {
    font-size: 0.75em;
    display: block;
    color: #f1f0ac;
}

.form-group {
    margin-top: 1em;
    font-size: 1.75em;
}
.form-group input[type='checkbox'] {
    width: 2em;
    height: 2em;
    vertical-align: bottom;
}
.form-group input[type='text'] {
    background: none;
    border: 0;
    border-bottom: 1px solid #fff;
    font-size: 1em;
    width: 80%;
    max-width: 450px;
    color: #fff;
}

.form-group input[type='text']::placeholder {
    color: #fff;
    opacity: 0.5;
}

.attribution {
    margin-top: 3em;
    text-align: center;
}
.attribution a {
    color: #f1f0ac;
}

#overlay {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.9);
    color: #fff;
    padding-top: 4em;
    text-align: center;
    font-weight: bold;
    font-size: 2em;
}

/** Spinner - from http://tobiasahlin.com/ */
#spinner {
    margin: 1em auto 0 auto;
    width: 70px;
    text-align: center;
}

#spinner > div {
    width: 18px;
    height: 18px;
    background-color: #4141ac;

    border-radius: 100%;
    display: inline-block;
    animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

#spinner .bounce1 {
    animation-delay: -0.32s;
}

#spinner .bounce2 {
    animation-delay: -0.16s;
}

@keyframes sk-bouncedelay {
    0%,
    80%,
    100% {
        transform: scale(0);
    }
    40% {
        transform: scale(1);
    }
}

/** RESPONSIVE-ness */
@media only screen and (max-width: 400px) {
    .header__text {
        width: initial;
    }
    footer button {
        font-size: 14px;
    }
}

@media only screen and (min-width: 400px) {
    #headerIconContainer {
        margin: 0 1em;
    }
}

@media only screen and (min-width: 600px) {
    header {
        font-size: 3em;
    }
}

@media only screen and (min-width: 750px) {
    header {
        font-size: 4em;
    }
}
